html{
font-size: 10px;
font-family: 'Gideon Roman', cursive;
background-color: #00539F;
}
body{
 width: 600px;
margin: auto;
padding: 20px 20px 20px 20px;
border: 5px solid black;
background-color: #FF9500;
}
h1{
margin: 0;
padding: 20px 0;
color: #00539F;;
text-shadow: 3px 3px 1px black;
font-size: 60px;
text-align: center;
background-color: #FF9500;
}
h2{
margin: 0;
color: #00539F;;
font-size: 40px;
text-align: center;
background-color: #FF9500;
}
h3{
margin: 0;
color: #00539F;;
font-size: 30px;
text-align: center;
background-color: #FF9500;
}
img{
display: block;
margin: 0 auto;
}
label,p{
font-size: 20px;
line-height: 2;
letter-spacing: lpx;
}
button{
width: 200px;
height: 60px;
padding:5px 15px; 
background:#00539F; 
border:0 none;
cursor:pointer;
border-radius: 10px; 
color:#FFFFFF;
font-size: 20px;
}
input[type=checkbox] {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    padding: 10px;
}
input[type=submit] {
 width: 200px;
height: 60px;
padding:5px 15px; 
background:#00539F; 
border:0 none;
cursor:pointer;
border-radius: 10px; 
color:#FFFFFF;
font-size: 20px;
}